/*****************************************/
/* Customizer control spacing style
/*****************************************/
/**
 * Import configuration file with variables.
 */
.customize-control-prisma-core-spacing .prisma-core-control-wrap {
  position: relative;
}
.customize-control-prisma-core-spacing .prisma-core-control-wrap > ul {
  padding-top: 6px;
  display: none;
  width: 100%;
  align-items: flex-start;
}
.customize-control-prisma-core-spacing .prisma-core-control-wrap > ul.active {
  display: flex;
}
.customize-control-prisma-core-spacing .prisma-core-control-wrap .reset-defaults {
  position: absolute;
  top: -18px;
  right: 0;
  margin-right: 0;
}
.customize-control-prisma-core-spacing .spacing-control-wrap {
  width: 20%;
  margin: 0;
}
.customize-control-prisma-core-spacing .spacing-control-wrap input,
.customize-control-prisma-core-spacing .spacing-control-wrap button {
  display: block;
  font-size: 12px;
  padding: 4px 0;
  width: 100%;
  height: 32px;
  border: 1px solid;
  border-color: #ddd;
  border-left-width: 0;
  border-radius: 0;
  text-align: center;
  box-shadow: none !important;
}
.customize-control-prisma-core-spacing .spacing-control-wrap input[type=number]::-webkit-inner-spin-button,
.customize-control-prisma-core-spacing .spacing-control-wrap input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.customize-control-prisma-core-spacing .spacing-control-wrap:first-child input {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}
.customize-control-prisma-core-spacing .spacing-control-wrap .prisma-core-spacing-label {
  display: block;
  color: #808890;
  font-size: 10px;
  padding-top: 4px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
.customize-control-prisma-core-spacing .spacing-control-wrap input:focus + .prisma-core-spacing-label {
  color: #23282d;
}
.customize-control-prisma-core-spacing .spacing-control-wrap .spacing-link-values {
  border: 1px solid #ddd;
  border-left-width: 0;
  padding: 0;
  outline: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.customize-control-prisma-core-spacing .spacing-control-wrap .spacing-link-values span {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 0 2px 2px 0;
  color: #808890;
}
.customize-control-prisma-core-spacing .spacing-control-wrap .spacing-link-values:hover span {
  color: #23282d;
}
.customize-control-prisma-core-spacing .spacing-control-wrap .spacing-link-values .prisma-core-spacing-linked {
  display: none;
  color: #0073aa !important;
}
.customize-control-prisma-core-spacing .spacing-control-wrap .spacing-link-values.unlinked .prisma-core-spacing-unlinked {
  display: none;
}
.customize-control-prisma-core-spacing .spacing-control-wrap .spacing-link-values.unlinked .prisma-core-spacing-linked {
  display: block;
}