/* ==========================================================================
*  Prisma Core Customizer Preview styles.
*  ========================================================================== */
.customize-partial-edit-shortcut-blogname,
.customize-partial-edit-shortcut-prisma_core_footer_widgets_align_center,
.customize-partial-edit-shortcut-prisma_core_hero_hover_slider_post_number {
  display: none !important;
}

.prisma-core-hide-shortcuts .customize-partial-edit-shortcut {
  display: none !important;
}

.customize-partial-edit-shortcut {
  z-index: 9;
}

.customize-partial-edit-shortcut-prisma_core_top_bar_widgets,
.customize-partial-edit-shortcut-prisma_core_enable_pre_footer_cta,
.customize-partial-edit-shortcut-prisma_core_header_widgets,
.customize-partial-edit-shortcut-prisma_core_copyright_widgets,
.customize-partial-edit-shortcut-prisma_core_hero_hover_slider_elements {
  left: 50%;
  top: 50%;
}
.customize-partial-edit-shortcut-prisma_core_top_bar_widgets button,
.customize-partial-edit-shortcut-prisma_core_enable_pre_footer_cta button,
.customize-partial-edit-shortcut-prisma_core_header_widgets button,
.customize-partial-edit-shortcut-prisma_core_copyright_widgets button,
.customize-partial-edit-shortcut-prisma_core_hero_hover_slider_elements button {
  left: -15px;
  top: -15px;
}

.prisma-core-social-nav .customize-partial-edit-shortcut {
  top: 0;
}
.prisma-core-social-nav .customize-partial-edit-shortcut button {
  left: -20px;
}

.prisma-core-primary-nav .customize-partial-edit-shortcut {
  top: 12px;
}
.prisma-core-primary-nav .customize-partial-edit-shortcut button {
  left: -25px;
}

.prisma-core-header-layout-3 .customize-partial-edit-shortcut-prisma_core_header_layout {
  left: 30px;
}

.customize-partial-edit-shortcut-prisma_core_footer_layout {
  top: 50%;
  left: 35px;
}