/*****************************************/
/* Customizer background control style
/*****************************************/
.prisma-core-background-wrapper .actions {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.prisma-core-background-wrapper .actions .button {
  margin-top: 0;
}
.prisma-core-background-wrapper .actions .advanced-settings {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
  color: #555d66;
}
.prisma-core-background-wrapper .actions .advanced-settings.up span.dashicons {
  transform: rotate(180deg);
}
.prisma-core-background-wrapper .actions .advanced-settings:hover {
  color: #0085ba;
}
.prisma-core-background-wrapper .actions .advanced-settings.hidden {
  display: none;
}
.prisma-core-background-wrapper .actions .background-image-upload-remove-button {
  margin-right: 6px;
}
.prisma-core-background-wrapper .background-image {
  margin-top: 12px;
  margin-bottom: 24px;
}
.prisma-core-background-wrapper .background-repeat {
  margin-bottom: 6px;
}
.prisma-core-background-wrapper .more-settings.up {
  color: #0085ba;
}
.prisma-core-background-wrapper h4 {
  margin-bottom: 12px;
}