/*****************************************/
/* Customizer checkbox group control style
/*****************************************/
/**
 * Import configuration file with variables.
 */
.pr-checkbox {
  display: flex;
  align-items: center;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 14px;
  cursor: default;
}
.pr-checkbox input[type=checkbox] {
  position: relative;
  border: 2px solid currentColor;
  border-radius: 2px;
  background: none;
  clear: none;
  cursor: pointer;
  display: inline-block !important;
  line-height: 0;
  margin: 1px 0 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  min-width: 20px;
  opacity: 0.5;
  transition: all 0.26s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: none;
}
.pr-checkbox input[type=checkbox]:before {
  position: absolute;
  margin: 0;
  content: "";
  opacity: 0;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(0);
  z-index: 2;
  transition: all 0.26s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-sizing: border-box;
}
.pr-checkbox input[type=checkbox]:disabled:not(:checked) {
  border-color: currentColor !important;
  opacity: 0.65 !important;
  pointer-events: none;
}
.pr-checkbox input[type=checkbox]:disabled:not(:checked) + .pr-label {
  opacity: 0.65;
  pointer-events: none;
}
.pr-checkbox input[type=checkbox]:checked {
  border-color: #0085ba;
  background-color: #0085ba;
  opacity: 1;
}
.pr-checkbox input[type=checkbox]:checked:before {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
.pr-checkbox input[type=checkbox]:checked:disabled {
  opacity: 0.65;
  pointer-events: none;
  border-color: #0085ba;
}
.pr-checkbox input[type=checkbox]:checked:disabled + .pr-label {
  pointer-events: none;
}
.pr-checkbox .pr-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 11px;
  flex-grow: 1;
}
.pr-checkbox .pr-label .prisma-core-info-icon {
  margin-left: auto;
  position: relative !important;
}
.pr-checkbox .pr-label .prisma-core-info-icon .prisma-core-tooltip {
  left: auto !important;
  right: -7px !important;
}
.pr-checkbox .pr-label .prisma-core-info-icon .prisma-core-tooltip:after {
  left: auto !important;
  right: 12px !important;
}
.pr-checkbox:hover input[type=checkbox] {
  border-color: #0085ba;
  opacity: 1;
}