/*****************************************/
/* Customizer control widget style
/*****************************************/
/**
 * Import configuration file with variables.
 */
.prisma-core-add-widget-wrap {
  display: flex;
  justify-content: flex-end;
}

.prisma-core-control-wrapper.prisma-core-widget-wrapper .customize-control-description {
  margin-bottom: 12px !important;
}

.prisma-core-customizer-widget-form,
.prisma-core-widget-tmpls {
  display: none;
}

.prisma-core-add-widget::before {
  content: "\f132";
  display: inline-block;
  position: relative;
  left: -4px;
  font: normal 16px/1 dashicons;
  vertical-align: middle;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.prisma-core-adding-widget #customize-preview {
  opacity: 0.4;
}
body.prisma-core-adding-widget #prisma-core-available-widgets {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
body.prisma-core-adding-widget .prisma-core-add-widget {
  background: #eee;
  border-color: #929793;
  color: #32373c;
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
body.prisma-core-adding-widget .prisma-core-add-widget:before {
  transform: rotate(45deg);
}

.prisma-core-widget-caption {
  padding: 0 0 0 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  border-bottom: 1px solid #ddd;
}
.prisma-core-widget-caption h3 {
  font-size: 14px;
  display: block;
  font-weight: 200;
  margin: 0 auto 0 0;
  padding: 0;
  line-height: 1;
}
.prisma-core-widget-caption a {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 0 2px 0 0;
  background: #eee;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  color: #444;
  text-align: left;
  cursor: pointer;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out, background 0.15s ease-in-out;
  box-sizing: content-box;
  text-decoration: none;
}
.prisma-core-widget-caption a:before {
  font: normal 18px/1 dashicons;
  content: "\f335";
}
.prisma-core-widget-caption a:hover, .prisma-core-widget-caption a:focus {
  background-color: #f3f3f5;
  box-shadow: none;
  outline: none;
}

#prisma-core-available-widgets-list .prisma-core-widget {
  position: relative;
  padding: 15px 15px 15px 60px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid #fff;
  transition: 0.15s color ease-in-out, 0.15s background-color ease-in-out, 0.15s border-color ease-in-out;
  cursor: pointer;
}
#prisma-core-available-widgets-list .prisma-core-widget.disabled {
  opacity: 0.5;
  pointer-events: none;
}
#prisma-core-available-widgets-list .prisma-core-widget .widget {
  margin: 0;
}
#prisma-core-available-widgets-list .prisma-core-widget .widget-top {
  border: none;
  background: inherit;
  box-shadow: none !important;
}
#prisma-core-available-widgets-list .prisma-core-widget .widget-title {
  position: relative;
}
#prisma-core-available-widgets-list .prisma-core-widget .widget-title h3 {
  padding: 0 0 5px;
  font-size: 14px;
}
#prisma-core-available-widgets-list .prisma-core-widget .widget-title i {
  position: absolute;
  top: -3px;
  right: 100%;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  color: #32373c;
  font: normal 20px/1 dashicons;
  text-align: center;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#prisma-core-available-widgets-list .prisma-core-widget .widget-description {
  padding: 0;
  color: #72777c;
  display: block;
  font-size: 12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
#prisma-core-available-widgets-list .prisma-core-widget .widget-title-action button {
  display: none;
}
#prisma-core-available-widgets-list .prisma-core-widget:hover, #prisma-core-available-widgets-list .prisma-core-widget.selected, #prisma-core-available-widgets-list .prisma-core-widget:focus {
  background-color: #f3f3f5;
  border-bottom-color: #ccc;
  color: #0073aa;
  border-left: 4px solid #0073aa;
}

.prisma-core-widget-container .widget {
  margin-bottom: 5px;
}
.prisma-core-widget-container .widget:last-child {
  margin-bottom: 12px;
}
.prisma-core-widget-container .widget .widget-content p {
  margin: 0 0 20px 0;
}
.prisma-core-widget-container .widget .widget-content label:not(.switch-label) {
  color: #23282d;
  font-weight: 500;
  display: block;
}
.prisma-core-widget-container .widget .widget-content button {
  display: inline-block;
  margin-top: 6px;
}
.prisma-core-widget-container .widget .widget-content .description {
  font-size: 11px;
}
.prisma-core-widget-container .widget:first-child .widget-top {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.prisma-core-widget-container .widget:last-child .widget-top {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.prisma-core-widget-container .widget .widget-top {
  border: 1px solid #ddd !important;
  box-shadow: none !important;
}
.prisma-core-widget-container .widget .widget-top .widget-title i {
  display: none;
}
.prisma-core-widget-container .widget .widget-inside {
  padding: 20px;
  border-radius: 0 0 3px 3px;
}
.prisma-core-widget-container .widget.prisma-core-expanded .widget-top {
  background-color: #FFF;
  border-radius: 3px 3px 0 0 !important;
}
.prisma-core-widget-container .widget.prisma-core-expanded .toggle-indicator {
  transform: rotate(180deg);
}
.prisma-core-widget-container .widget .widget-control-actions {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.prisma-core-widget-container .widget .widget-control-actions .spinner {
  margin-left: auto;
  margin-right: 0;
  visibility: visible;
}
.prisma-core-widget-container .widget .widget-control-actions .widget-control-separator {
  display: inline-block;
  margin: 0 2px;
}
.prisma-core-widget-container .prisma-core-widget-nav-selected {
  display: none;
}
.prisma-core-widget-container .prisma-core-widget-nav-has-menu .prisma-core-widget-nav-empty {
  display: none;
}
.prisma-core-widget-container .prisma-core-widget-nav-has-menu .prisma-core-widget-nav-selected {
  display: block;
}